@font-face {
    font-family: 'HelveticaNeueInterface';
    src: url(/src/lib/assets/HelveticaNeueInterface.ttf);
}
@font-face {
    font-family: 'HelveticaNeueInterface_thin';
    src: url(/src/lib/assets/HelveticaNeueInterface_thin.ttf);
}
@font-face {
    font-family: 'BebasNeue-Regular';
    src: url(/src/lib/assets/BebasNeue-Regular.ttf);
}

h1{
    font-family: 'BebasNeue-Regular', 'Courier New'; 
    font-size: 100px;
}

@media screen and (max-width: 750px) {
    h1{
        font-family: 'BebasNeue-Regular', 'Courier New';     
        font-size: 100px;
    }
}
@media screen and (max-width: 400px) {
    h1{     
        font-size: 2rem;
    }
}

h2{
    font-family: 'BebasNeue-Regular', 'Courier New';    
    font-size: 36px;
}

h3{
    font-family: 'HelveticaNeueInterface_thin', 'Courier New';    
    font-size: 1.25rem;
}

h4{
    font-family: 'HelveticaNeueInterface_thin', 'Courier New';    
    font-size: 1.25rem;
}

h5{
    font-family: 'HelveticaNeueInterface', 'Courier New';    
    font-size: 24px;
}

p{
    font-family: 'HelveticaNeueInterface_thin', 'Courier New';    
    font-size: 1.25rem;
}
label{
    font-family: 'HelveticaNeueInterface_thin', 'Courier New'; 
}

a{
    font-family: 'HelveticaNeueInterface_thin', 'Courier New';    
   color: black; 
}

.bold{
    font-family: 'HelveticaNeueInterface' ;
}